
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif !important;
}

:root {
    --bg1: #454545;
    --bg2: #26A889;
    --font-light-color: #fff;
    --font-dark-color: #DADADA;
    --input-bg: #f2f2f2;
    --card-header-bg: #BDCAC0;
    --default-button-bg: #000;
    --default-button-color: #fff;

}

.bg1 {
    background-color: var(--bg1);
}

.bg2 {
    background-color: var(--bg2);
}

.text-light-color {
    color: var(--font-light-color);
}

.text-dark-color {
    color: var(--font-dark-color) !important;
}

.text-green{color: var(--bg2) !important;}

input {
    background-color: var(--input-bg) !important;
    border: none !important;
    border-radius: 4px !important;
    width: 172px;
    height: 36px;
    padding-right: 25px;
    background-image: url("../img/ft.svg");
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: var(--bg1);
}

input:active,
input:focus-visible,
input:focus {
    outline: 0;
    border: none;
}

.card {

    margin-top: 20px;
    margin-bottom: 10px;
}

.card-header {
    background-color: var(--card-header-bg) !important;
    height: 48px;
    font-weight: 700;
}

.color-title {
    padding-top: 20px;
    color: var(--bg2);
}

@media (max-width:600px) {
    .color-title {
        text-align: center;
    }
}

.small-input {
    width: 77px;
}

.line {
    background-color: var(--bg2);
    height: 7px;
    width: 930px;
    transform: translate(-30px);
}

.table th {
    border-top: none !important;
}

.arrow {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.hello {
    padding-top: 20px;
    min-height: 347px;
}

.default-button {
    background-color: var(--default-button-bg);
    color: var(--default-button-color);
    border-radius: 7px;
    border: none;
    text-align: center;
    padding: 13px 40px;
    cursor: pointer;
}

.green-button {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: var(--bg2);
}

.nav-link{
    cursor: pointer;
}

.modal-title{
    color: var(--bg2);
    font-weight: 700;
    font-size: 30px;
line-height: 46px;
text-align: center;
}
.modal-header{border-bottom: 0 !important;}
.modal-footer{border-top: 0 !important;}
.modal-content label{
    font-weight: 700;
}

.modal-content input{background-image: none;}
.dropdown-item:hover{
    cursor: pointer;
    background-color: transparent !important;
}
.dropdown-item:active{
    background-color: transparent !important;
}
header a span{
    cursor: pointer;
    font-weight: 700;
}
.nav-item{
    margin-right: 40px;
}
.dropdown-menu{
    background-color: var(--bg1) !important;
}